# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environment
pong-game-venv/

# Python-specific log and debug files
*.log
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files (macOS, Windows, Linux)
.DS_Store
*.swp
Thumbs.db


